@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

* {
  font-family: 'Source Code Pro', monospace;
  font-display: fallback;
}
body{
  background-color: black;
}
p{
  margin: 0;
}
p #conteo{
  color: white;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: underline;
}
a:visited{
  color: white;
  text-decoration: underline;
}
footer {
   /*position: fixed;*/
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   background-color: rgba(0, 0, 0, 0.7);
   text-align: center;
   bottom: 0;
   left: 0;
   right: 0;
   position: sticky;
}
footer p a img{
  vertical-align: middle;
}
footer p{
  padding: 10px;
}
.wrap{word-wrap: break-word;}

/*---colors---*/
.bold{font-weight: bold;}
.normal{font-weight: normal;}
.white{color:white;}
.salmon{color:salmon;}
.aqua{color:aqua;}
.blueviolet{color:blueviolet;}
.brown{color:brown;}
.cornflowerblue{color:cornflowerblue;}
.crimson{color:crimson;}
.darkmagenta{color:darkmagenta;}
.deeppink{color:deeppink;}
.darkorange{color:darkorange;}
.lightgreen{color: lightgreen;}
